{% extends 'base.html.twig' %}

{% form_theme postForm 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <h1>Création d'un article</h1>
    {{ form_start(postForm) }}

    {{ form_row(postForm.title, {'attr':{'placeholder':"Titre de l'article"}}) }}
    {{ form_row(postForm.content, {'attr':{'placeholder':"Contenu de l'article"}}) }}
    {{ form_row(postForm.image, {'attr':{'placeholder':"URL de l'image"}}) }}

    <button type="submit" class="btn btn-success">Publier</button>

    {{ form_end(postForm) }}
{% endblock %}