{% extends 'base.html.twig' %}

{% block title %}

{% endblock %}

{% block body %}
    <article>
        <h2>{{ post.title }}</h2>
        <div class="metadata">Ecrit le {{ post.createdAt | date('d/m/Y') }} à {{ post.createdAt | date('H:i') }} dans la
            catégorie {{ post.category.title }}
        </div>
        <div class="content">
            <img src="{{ post.image }}" alt="">
            {{ post.content | raw }}
        </div>
    </article>

    <section id="commentaires">
        <h1>{{ post.comments | length }} commentaires</h1><!-- nombre de commentaires-->
        {% for comment in post.comments  %}
            <div class="row">
                <div class="col-6">
                    {{ comment.author }} (<small>{{ comment.createdAt | date('d/m/Y') }}</small>)
                </div>
                <div class="col-6">
                    {{ comment.content | raw }}
                </div>
            </div>
        {% endfor %}

        {% if app.user %}
            {{ form_start(commentForm) }}
                {{ form_row(commentForm.author, {'attr': {'placeholder': 'Votre nom'}}) }}
                {{ form_row(commentForm.content, {'attr': {'placeholder': 'Votre commentaire'}}) }}
                <button type="submit" class="btn btn-success">Commenter</button>
            {{ form_end(commentForm) }}
        {% else %}
            <p>Vous ne pouvez pas commenter si vous n'êtes pas connecté.</p>
            <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
        {% endif %}
    </section>
{% endblock %}

